@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "تماس با ما";
}
@section SEO
{
    <meta name="keywords" content="project,portfolio" />
    <meta name="description" content="contact description"/>
}
<section id="one">
    <header class="major">
        <h2>
            تماس با من
        </h2>
    </header>
</section>

<section id="two">
    <div class="row">
        <table>
            <tr>
                <td>آدرس ایمیل:</td>
                <td>saed.fathi@gmail.com</td>
            </tr>
            <tr>
                <td>شماره موبایل:</td>
                <td>0912675467</td>
            </tr>
            <tr>
                <td>آدرس گیت هاب:</td>
                <td>S.Fathi</td>
            </tr>
        </table>
    </div>
</section>
